{{ if ne .Site.Params.TagsInHome 0 }}

    {{ if gt (len .Site.Taxonomies.tags) 1 }}

    <!-- only show tags that are used more than ones -->

    <div class="columns is-centered has-text-centered">
        <div class="column is-10">
            <div class="content">
                <p class="tags-summary">
                    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                        {{ if gt $taxonomy.Count 1 }}
                            <a href="/tags/{{ $name | urlize }}">
                                <span class="tag is-dark is-large is-rounded" title="Show posts having the #{{ $name | humanize }} tag ({{ $taxonomy.Count }})">
                                    {{ $name | humanize }}
                                </span>
                            </a>
                        {{ end }}
                    {{ end }}
                    <a href="{{ "/tags/" | relURL }}"><span class="tag is-light is-large is-rounded" title="Show all Tags...">#ALL</span></a>
                </p>
            </div>
        </div>
    </div>
    <br>

    {{ end }}

{{ end }}