{{ if ne .Site.Params.TagsInHome 0 }}

{{ $randTags := (slice)}}
{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
{{ $randTags = $randTags | append $name }}
{{ end }}
{{ $randTags = sort (first .Site.Params.TagsInHome (shuffle $randTags)) }}

{{ if gt (len $randTags) 1 }}

<!-- todo - only show tags that are used more than ones -->

<div class="columns is-centered has-text-centered">
    <div class="column is-10">
        <div class="content">
            <!-- a href="{{ "/tags/" | relURL }}">
                <h1>Read articles by tags</h1>
            </a -->
            <p class="tags-summary">
                {{ range $name := $randTags }}
                <a href="{{ "/tags/" | relURL }}{{ $name | urlize }}">
                    <span class="tag is-dark is-large is-rounded">
                        {{ replace $name "-" " " | title }}
                    </span>
                </a>
                {{ end }}
				<a href="{{ "/tags/" | relURL }}"><span class="tag is-light is-large is-rounded">#ALL</span></a>
            </p>
        </div>
    </div>
</div>
<br>

{{ end }}
{{ end }}